@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Smythe&display=swap');

body {
    background-image: url(./assets/background-alternativo.jpg) ;
    background-size: cover;
}

main {
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

header {
    height: 150px;
    background: rgba(7,5,40,0.264);
    background: linear-gradient(0deg, rgba(7, 5, 40, 0) 0%, rgba(10,106,194,0.701) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 100px;
    background: rgba(7, 5, 40, 0.264);
    background: linear-gradient(0deg, rgba(10, 105, 194, 0.701) 0%, rgba(7, 5, 40, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    color: #f9cd8b;
    font-size: xx-large;
}

.foot {
    color: #f9cd8b;
    font-size: x-large;
}

.mother {
    display: flex;
    flex-direction: column;
}

.father {
    display: flex;
}

.divider {
    border: 1px, solid, blue;
    margin-top:12px;
}

.ancestor-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}

.studentContainer {
    flex: 1 ;
    background-color: #F5F5F5;
}

.no-margin{
    margin: 0px;
}

.external-container {
    display: flex;

    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-color: #7c7a7a5e;
    border-radius: 12px;
    padding: 12px;
    width: 420px;
    margin: 20px;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.avatar-container {
    margin-right: 20px; 
}

.avatar {
    width: 200px;
    border-radius: 50%;
}

.notable-regular {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
  }